<a href="https://colab.research.google.com/github/robbstenman/neural-network-challenge-2/blob/main/attrition.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Part 1: Preprocessing

In [ ]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import numpy as np
from tensorflow.keras.models import Model
from tensorflow.keras import layers

#  Import and read the attrition data
attrition_df = pd.read_csv('https://static.bc-edx.com/ai/ail-v-1-0/m19/lms/datasets/attrition.csv')
attrition_df.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,HourlyRate,JobInvolvement,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,Sales,1,2,Life Sciences,2,94,3,...,3,1,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,Research & Development,8,1,Life Sciences,3,61,2,...,4,4,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,Research & Development,2,2,Other,4,92,2,...,3,2,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,Research & Development,3,4,Life Sciences,4,56,3,...,3,3,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,Research & Development,2,1,Medical,1,40,3,...,3,4,1,6,3,3,2,2,2,2

In [ ]:
# Determine the number of unique values in each column.
attrition_df.nunique()

Age                         43
Attrition                    2
BusinessTravel               3
Department                   3
DistanceFromHome            29
Education                    5
EducationField               6
EnvironmentSatisfaction      4
HourlyRate                  71
JobInvolvement               4
JobLevel                     5
JobRole                      9
JobSatisfaction              4
MaritalStatus                3
NumCompaniesWorked          10
OverTime                     2
PercentSalaryHike           15
PerformanceRating            2
RelationshipSatisfaction     4
StockOptionLevel             4
TotalWorkingYears           40
TrainingTimesLastYear        7
WorkLifeBalance              4
YearsAtCompany              37
YearsInCurrentRole          19
YearsSinceLastPromotion     16
YearsWithCurrManager        18
dtype: int64

In [ ]:
# Create y_df with the Attrition and Department columns
y_df = attrition_df[['Attrition', 'Department']]

In [ ]:
# Create a list of at least 10 column names to use as X data
X_list = ['Age',
          'BusinessTravel',
         'DistanceFromHome',
         'EnvironmentSatisfaction',
         'JobLevel',
         'JobSatisfaction',
         'MaritalStatus',
         'PerformanceRating',
         'YearsAtCompany',
         'YearsInCurrentRole'
          ]

# Create X_df using your selected columns
X_df = attrition_df[X_list]

# Show the data types for X_df
X_df.dtypes

Age                         int64
BusinessTravel             object
DistanceFromHome            int64
EnvironmentSatisfaction     int64
JobLevel                    int64
JobSatisfaction             int64
MaritalStatus              object
PerformanceRating           int64
YearsAtCompany              int64
YearsInCurrentRole          int64
dtype: object

In [ ]:

# Split the data into training and testing sets

X_train, X_test, y_train, y_test = train_test_split(X_df, y_df, random_state=5)

In [ ]:
# Convert your X data to numeric data types however you see fit
# Add new code cells as necessary

from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
for col in X_train.columns:
    if X_train[col].dtype == 'object':
        X_train[col] = le.fit_transform(X_train[col])
        X_test[col] = le.transform(X_test[col])

In [ ]:
# Verify the data types
print(X_train.dtypes)

# Show the training data
X_train.head()

Age                        int64
BusinessTravel             int64
DistanceFromHome           int64
EnvironmentSatisfaction    int64
JobLevel                   int64
JobSatisfaction            int64
MaritalStatus              int64
PerformanceRating          int64
YearsAtCompany             int64
YearsInCurrentRole         int64
dtype: object

,Age,BusinessTravel,DistanceFromHome,EnvironmentSatisfaction,JobLevel,JobSatisfaction,MaritalStatus,PerformanceRating,YearsAtCompany,YearsInCurrentRole
1084,34,2,1,4,3,3,1,3,10,9
954,42,0,2,3,4,3,1,3,20,8
996,27,2,10,4,2,4,1,3,6,2
1005,29,2,17,2,3,1,2,3,10,9
1041,28,2,5,4,2,1,2,3,5,4

In [ ]:
# Create a StandardScaler
scaler = StandardScaler()

# Fit the StandardScaler to the training data
scaler.fit(X_train)

# Scale the training and testing data
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [ ]:
# Import OneHotEncoder
from sklearn.preprocessing import OneHotEncoder

# Create a OneHotEncoder for the Department column
dep_encoder = OneHotEncoder(sparse_output=False)

# Fit the encoder to the training data
dep_encoder.fit(y_train[['Department']])

# Transform the training and testing data
y_train_dep_encoded = dep_encoder.transform(y_train[['Department']])
y_test_dep_encoded = dep_encoder.transform(y_test[['Department']])

y_train_dep_encoded

array([[0., 0., 1.],
       [0., 1., 0.],
       [0., 0., 1.],
       ...,
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.]])

In [ ]:
# Create a OneHotEncoder for the Attrition column
att_encoder = OneHotEncoder(sparse_output=False)

# Fit the encoder to the training data
att_encoder.fit(y_train[['Attrition']])

# Transform the training and testing data
y_train_att_encoded = att_encoder.transform(y_train[['Attrition']])
y_test_att_encoded = att_encoder.transform(y_test[['Attrition']])

y_test_dep_encoded

array([[0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       ...,
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 1., 0.]])

## Create, Compile, and Train the Model

In [ ]:
# Find the number of columns in the X training data
no_columns = X_train_scaled.shape[1]

# Create the input layer
input_layer = layers.Input(shape=(no_columns,))

# Create at least two shared layers
shared_layer1 = layers.Dense(64, activation='relu')(input_layer)
shared_layer2 = layers.Dense(32, activation='relu')(shared_layer1)

In [ ]:
# Create a branch to predict the department target column. Use one hidden layer and one output layer.
dep_hidden_layer = layers.Dense(16, activation='relu')(shared_layer2)
dep_output_layer = layers.Dense(3, activation='softmax')(dep_hidden_layer)

In [ ]:
# Create a branch to predict the attrition target column. Use one hidden layer and one output layer.
att_hidden_layer = layers.Dense(16, activation='relu')(shared_layer2)
att_output_layer = layers.Dense(2, activation='softmax')(att_hidden_layer)

In [ ]:
# Name output layers
dep_output_layer = layers.Dense(3, activation='softmax', name='dep_output')(dep_hidden_layer)
att_output_layer = layers.Dense(2, activation='softmax', name='att_output')(att_hidden_layer)

In [ ]:
# Create the model
model = Model(inputs=input_layer, outputs=[dep_output_layer, att_output_layer])

# Compile the model
model.compile(loss={'dep_output': 'categorical_crossentropy', 'att_output': 'categorical_crossentropy'},
              optimizer='adam',
              metrics={'dep_output': 'accuracy', 'att_output': 'accuracy'})

# Summarize the model
model.summary()

Model: "model_7"
__________________________________________________________________________________________________
 Layer (type)                Output Shape                 Param #   Connected to
==================================================================================================
 input_1 (InputLayer)        [(None, 10)]                 0         []

 dense (Dense)               (None, 64)                   704       ['input_1[0][0]']

 dense_1 (Dense)             (None, 32)                   2080      ['dense[0][0]']

 dense_4 (Dense)             (None, 16)                   528       ['dense_1[0][0]']

 dense_8 (Dense)             (None, 16)                   528       ['dense_1[0][0]']

 dep_output (Dense)          (None, 3)                    51        ['dense_4[0][0]']

 att_output (Dense)          (None, 2)                    34        ['dense_8[0][0]']

==================================================================================================
Total params: 3925 (15.33 KB)
Trainable params: 3925 (15.33 KB)
Non-trainable params: 0 (0.00 Byte)
__________________________________________________________________________________________________

In [63]:
model.fit(X_train_scaled,
  [y_train_dep_encoded, y_train_att_encoded],
          epochs=10,
          batch_size=32,
          validation_data=[(X_test_scaled, y_test_dep_encoded), (X_test_scaled, y_test_att_encoded)])

Epoch 1/10
35/35 [==============================] - ETA: 0s

ValueError: Unexpected result of `train_function` (Empty logs). This could be due to issues in input pipeline that resulted in an empty dataset. Otherwise, please use `Model.compile(..., run_eagerly=True)`, or `tf.config.run_functions_eagerly(True)` for more information of where went wrong, or file a issue/bug to `tf.keras`.

In [61]:
loss, department_accuracy, attr

NameError: name 'loss' is not defined

In [ ]:
# Evaluate the model with the testing data

evaluate_model = model.evaluate(X_test_scaled,
                                {'dept_output': y_test_dep_encoded, 'attr_output': y_test_att_encoded})

evaluate_model

 3/12 [======>.......................] - ETA: 0s - loss: 2.2522 - dept_output_loss: 1.3053 - attr_output_loss: 0.9469 - dept_output_accuracy: 0.6250 - attr_output_accuracy: 0.8229

/usr/local/lib/python3.10/dist-packages/tensorflow/python/data/ops/structured_function.py:258: UserWarning: Even though the `tf.config.experimental_run_functions_eagerly` option is set, this option does not apply to tf.data functions. To force eager execution of tf.data functions, please use `tf.data.experimental.enable_debug_mode()`.
  warnings.warn(

12/12 [==============================] - 0s 29ms/step - loss: 2.8795 - dept_output_loss: 1.4531 - attr_output_loss: 1.4264 - dept_output_accuracy: 0.6196 - attr_output_accuracy: 0.8207

[2.879532814025879,
 1.4531363248825073,
 1.4263962507247925,
 0.6195651888847351,
 0.820652186870575]

In [ ]:
# Print the accuracy for both department and attrition
print(f"Department Accuracy: {evaluate_model[0]}")
print(f"Attrition Accuracy: {evaluate_model[1]}")

Department Accuracy: 2.879532814025879
Attrition Accuracy: 1.4531363248825073

# Summary

In the provided space below, briefly answer the following questions.

1. Is accuracy the best metric to use on this data? Why or why not?

2. What activation functions did you choose for your output layers, and why?

3. Can you name a few ways that this model might be improved?

YOUR ANSWERS HERE

1.
2.
3.